* {
	padding: 0;
	margin: 0;
}
.top{
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
	background: url(../image/bg2.1.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
}
.buttom{
    position: absolute;
    bottom: 0px;
    color: black;
    font-size: 16px;
    /* text-align: right; */
    background: pink;
    right: 0px;
    display: none;
	
}
.error{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0%;
}
.win{
	position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0%;
}

.choujiang {
	position: absolute;
	height: 16%;
	left: 38%;
	right: 38%;
	top: 20%;
	color: red;
	font-size: 115px;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.begin {
	font-size: 23px;
	margin-top: 23px;
	display: block;
	width: 170px;
}
.button {
	display: inline-block;
	zoom: 1;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	border-radius: 2em;
}

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
}

.blue:hover {
	background: #007ead;
}

.blue:active {
	color: #80bed6;
}

.wrap {
	width: 600px;
	margin: 100px auto;
}

.show {
	position: absolute;
	display: none;
	height: 51%;
	left: 38%;
	right: 38%;
	top: 50%;
	margin-top: -15%;
	padding-top: 1%;
}

#imgDiv {
	width: 100%;
	height: 90%;
	background: blue;
	margin-top: 5%;
}

.btn a {
	display: block;
	width: 120px;
	height: 50px;
	margin: 30px auto;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #fff;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.btn a.start {
	background: #80b600;
}

.btn a.start:hover {
	background: #75a700;
}

.btn a.stop {
	background: #00a2ff;
}

.btn a.stop:hover {
	background: #008bdb;
}

img {
	border: 0;
}

.back {
	border: 0
}

.em {
    position: relative;
    font-size: 23px;
    font-family: '黑体';
    margin-left: 3%;
    color: deeppink;
}

.up {
	font-size: 28px;
	color: red;
}