html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  height: 100%;
}
.wrapper .title {
  background: #0E90D2;
  height: 10%;
  padding: 0.8%;
}
.wrapper .title p {
  text-align: center;
  font-size: 21px;
  color: #fff;
  margin: 0;
}
.wrapper .selectarea {
  position: fixed;
  left: 0;
  right: 0;
  height: 4%;
  background: #000;
  padding: 0.5%;
  background: rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=50);
  z-index: 2;
}
.wrapper .selectarea .selectchoice {
  height: 100%;
  margin-left: 5%;
}
.wrapper .selectarea .selectchoice select {
  width: 10%;
  height: 100%;
  border-radius: 5px;
  border: none;
}
.wrapper .options {
  display: none;
  width: 37%;
  float: right;
  margin-top: -1.5%;
  color: white;
}
.wrapper .button {
  display: none;
  position: absolute;
  right: 6%;
  top: 11%;
  background: #0E90D2;
  color: white;
  height: 38px;
  width: 109px;
  text-align: center;
  line-height: 36px;
  border-radius: 5px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.wrapper .timefly {
  display: none;
  position: fixed;
  left: 38%;
  top: 30%;
  background: white;
  border-radius: 10px;
}
.wrapper .timefly img {
  border-radius: 25px;
}
.wrapper #container {
  height: 100%;
}
